.nav-container {
  display: flex;
  background-color: unset;
  justify-content: center;
  align-items: center;
  background-color: #13477f;
  height: 100px;
}

.navbar {
  display: flex;
}

.menu-items {
  background-color: inherit;
}

.nav-item {
  background-color: unset;
  list-style: none;
  transition-timing-function: ease;
}

.nav-item a:hover {
  color: greenyellow;
}

.nav-link {
  color: white;
  transition: color 0.5s;
}
